.container {
  background-color:#fcb191;
  padding: 5px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.row.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-left {
  flex-grow: 1;
  
}

.header__top-right {
  display: flex;
  align-items: center;
}

.header__top-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.header__top-item a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); 
}

.header__top-item a:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}

/* Header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  z-index: 1;
}

  .header .header-top {
    display: flex;
    background-color: var(--color-one);
    padding: 10px;
  }
  .header .header-top .header-section-one {
    display: flex;
    width: 100%;
    margin-right: 30px;
    justify-content: center; 
    align-items: center; 
  }
  .header .header-top .header-section-one img {
    width: 150px;
    margin-right: 20px;
  }
  .header .header-top .header-section-one img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
  
  .header .header-top .header-section-one input {
    width: 50%;
    height: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border: none;
  }
  .header .header-top .header-section-one i {
    background-color: #9d4e4e;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-top .header-section-two {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
  }
  .cart-phone {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color:  rgba(0, 0, 0, 0.7);; 
    margin-right: 20px;
}

.cart-phone i.fa-phone {
    display: inline-block;
    font-size: 24px; 
    border: 2px solid  rgba(0, 0, 0, 0.7);; 
    border-radius: 50%; 
    padding: 10px; 
    margin-right: 10px; 
    transition: transform 0.3s ease; 
}

.cart-phone i.fa-phone:hover {
    transform: scale(1.1); 
}
 
  .header__cart {
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.cart-link {
    position: relative;
    margin-left: 20px;
}

.fa-cart-shopping {
  font-size: 35px; 
  transition: transform 0.3s ease; 
}
.cart-notice {
    position: absolute;
    top: -25px;
    right: -3px;
    background-color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 13px;
    border: 1px solid;
}

.menu-bar {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background-color: #fff8f4;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.menu-bar ul {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  list-style-type: none;
}
.menu-bar ul li {
  margin-left: 50px;
  font-size: 20px;
  display:inline-block;
  position:relative;
}
.menu-bar ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.3s ease; 
  padding:14px 16px;
}
.menu-bar ul li a i {
  margin-right: 10px; 
}
.menu-bar ul li a:hover {
  transform: scale(1.1);
  background-color: #ffe4d3; 
}

/* Style for sub-menu */
.menu-bar .sub-menu {
  display: none;
  position: absolute;
  background-color: #fff8f4;
}

.menu-bar li:hover .sub-menu {
  display: block;
}

.menu-bar .sub-menu li a {
  padding: 5px 6px;
  white-space: nowrap;
}

.menu-bar .sub-menu li a:hover {
  background-color: #ffe4d3;
}

/* end header */


.flex-box{
  display: flex;
  width: 1300px;
  margin: 20px 100px;
}
.left{
  width: 40%;
}
.big-img{
  width: 250px;
}
.big-img img{
  width: inherit;
}
.images{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 15px;
}
.small-img{
  width: 50px;
  overflow: hidden;
  border: 1.5px solid black;
}
.small-img img{
  width: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.small-img:hover img{
  transform: scale(1.2);
}
.url{
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 102, 255);
}
.pname{
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
}
.ratings i{
  color: rgb(255, 136, 0);
}
.product-meta {
  margin-bottom: 10px;
}
.size{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.size p{
  font-size: 18px;
  font-weight: 500;
}
.psize{
  width: 60px;
  height: 30px;
  border: 1px solid #ff5e00;
  color: #000;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
.psize.active{
  border-width: 1.5px;
  color: #ff5e00;
  font-weight: 500;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price-old {
  text-decoration: line-through;
  color: #1b1a1a;
  font-size: 15px;
}
.product-price-new {
color: red;
}

.quantity{
  display: flex;
}
.quantity p{
  font-size: 18px;
  font-weight: 500;
}
.quantity input{
  width: 40px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-left: 15px;
}
.btn-box{
  display: flex;
  margin-top: 40px;
}
.btn-box button{
  font-size: 18px;
  padding: 8px 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}
.cart-btn{
  background-color: #ff5e00;
  margin-right: 20px;
}
.buy-btn{
  background-color: #00aeff;
}
.cart-btn:hover{
  background-color: #ff3c00;
}
.buy-btn:hover{
  background-color: #0066ff;
}
/*------------------*/

.policy-aside {
  box-sizing: border-box;
  width:500px;
  margin-right: -120px;
}

.product__aside-top-item {
display: flex;
align-items: center;
margin-top: 10px;
}

.product__aside-top-item img {
margin-right: 1rem;
}


.product__aside-top-item-text p {
font-size: 20px;
margin: 0;
}

.product__aside-top-item-text span {
 font-size: 18px;
}

.product__aside-list {
margin-top: 20px;
}

.product__aside-heading {
margin-top: 40px;

}

.product__aside-item {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 15px;
}

.product__aside-item--no-border{
border: none;
padding: 0;
margin-bottom: 2rem;
}

.product__aside-img-wrap {
width: 20%;
}

.product__aside-img {
max-width: 80%;
}

.product__aside-title {
flex: 1;
}

.product__aside-link {
font-size: 18px;
display: block;
align-items: center;
}

.product__aside-link-heading {
color:#000;
font-weight: normal;
}

.product__aside-price-current{
color: red;
}

.product__aside-rate-wrap{
color: rgb(255, 136, 0);
}
/*---------------------------*/
.row__bg-white{
  width: 900px;
  margin: 20px 100px;
  margin-top: -40rem;
}


.product__main-tab{
	background-color: #efefef;
	margin-top: 10px;
	padding: 0;
}

.product__main-tab-link {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	padding: 10px 15px;
}

.product__main-tab-link--active{
	background: #ff0000;
  color:#fff;
}


.product__main-content-wrap{
	padding-top: 15px;
}	

.product__main-content-heading{
	text-align: center;
}

.product__main-content-wrap p{
	font-size: 18px;
	margin-bottom: 10px;
  margin-top: 10px;
}

.product__main-content-wrap span{
	font-size: 18px;
}

.header1 {
  text-align: center;
  margin-bottom: 20px;
}

.header1 h1 {
  font-size: 24px;
  font-weight: bold;
}

.product1-info h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product1-info ul {
  list-style: none;
  padding: 0;
}

.product1-info li {
  margin-bottom: 10px;
}

.product1-info li span.label {
  font-weight: bold;
  margin-right: 5px;
}

.benefits {
  margin-top: 20px;
}

.benefits h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.benefits ul {
  list-style: none;
  padding: 0;
}

.benefits li {
  margin-bottom: 10px;
}

.ingredients {
  margin-top: 20px;
}

.ingredients h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingredients ul {
  list-style: none;
  padding: 0;
}

.ingredients li {
  margin-bottom: 10px;
}

.instructions {
  margin-top: 20px;
}

.instructions h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.instructions p {
  margin-bottom: 10px;
}

/*-----------------------------------*/
/* Phần đánh giá khách hàng*/
.customer-reviews{
	font-size: 20px;
  box-sizing: border-box;
  width:1000px;
  margin-left: 100px;
}

.customer-reviews{
 margin-top: 20px;
	display: block;
}

.customer-reviews h3 {
  margin-top:25px;
  font-size: 30px;
  color:#000000;
}

.form-group{
	margin-bottom: 10px;
	width: 100%;
	color: #333;
}
.form-group label{
	font-size: 20px;
}

.form-control {
	transition: none;
  display: block;
  width: 120%;
  font-size: 25px;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#submitcomment {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bold; 
  transition: background-color 0.3s ease;

}


#submitcomment:hover {
  background-color: #0056b3; 
}

.product-user{
  margin-left: 100px;
  margin-top: 20px;
	display: block;
  width: 80%;
}
.comment-item b{
	font-size: 20px;
	font-weight: bold;
}
.comment-item {
  padding: 12px;
  margin-bottom: 12px;
}

.comment-item-user {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.comment-item-user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-item-user li {
  list-style: none;
  font-size: 16px;
}

.comment-item h4 {
  font-size: 18px;
  font-weight: normal;
  color: #000000;
}

/* footer */
footer {
margin-top:30px;
background-color: #f0f0f0;
width:100%;
}

.footer-section {
margin-top: 15px;
margin-left: 50px;
margin-right: 50px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.footer-section h2 {
color: rgba(0, 0, 0, 0.8);
font-size: 20px;
font-weight: 400;
}
.footer-section p,
ul li {
color: rgba(0, 0, 0, 0.6);
font-size: 16px;
font-weight: 400;
}
.footer-section .introduce {
display: flex;
flex-direction: column;
width: 30%;
font-family: var(--font1);
margin-right: 30px;
}
.footer-section .introduce img {
margin-top: 20px;
width: 177px;
}
.footer-section .policy {
width: 25%;
margin-left: 50px;
}

.policy li {
margin-bottom: 10px; 
}

.policy li a{
color: rgba(0, 0, 0, 0.6);
}

.footer-section .contact {
width: 40%;
margin-left: 40px;
}
.footer-section .contact .cover-contact {
display: flex;
flex-direction: row;
margin-bottom: 12px;
}
.footer-section .contact p {
margin-left: 10px;
color: rgba(0, 0, 0, 0.6);
}

.footer-social-link{
margin-right: 0.5cm;
}

.footer-social-link:hover img {
transform: scale(1.2); 
transition: transform 0.3s ease; 
}

.footer__bottom {
text-align: center;
border: none;
background-color: #fcb191;
}

.footer__bottom-content {
color: #fff;
font-size: 14px;
}
/* end footer */